

.custwidth{
    width: 80% !important;
    
}
.custwidthparent{
    width: 100% !important;
}
.photo{
    width: 100%;
   
    img{
        width: 10%;
        
        margin: auto;
        
    }
}

